# Copyright (c) 2026 Navimatix GmbH
# SPDX-License-Identifier: Apache-2.0

config STEPPER_CTRL_EVENT_HANDLER
	bool
	help
	  Enable library used for handling stepper_ctrl event callbacks.

if STEPPER_CTRL_EVENT_HANDLER

config STEPPER_CTRL_ISR_SAFE_EVENTS
	bool "Guarantee that callbacks are executed in a non-ISR context"
	help
	  Registered callbacks for stepper_ctrl events are executed via work
	  queue, guaranteeing that they run in a non-ISR context. Multiple
	  events can be pending and are processed sequentially.

config STEPPER_CTRL_EVENT_QUEUE_LEN
	int "Maximum number of pending stepper_ctrl events"
	default 4
	depends on STEPPER_CTRL_ISR_SAFE_EVENTS
	help
	  The maximum number of stepper_ctrl events per driver instance that can
	  be pending before new events are dropped.

endif # STEPPER_CTRL_EVENT_HANDLER
