# SPDX-FileCopyrightText: Copyright (c) 2026 Navimatix GmbH
# SPDX-FileCopyrightText: Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_USBTINGO
	select SOC_LPC5514
	select SOC_PART_NUMBER_LPC5514JBD64
