# SPDX-FileCopyrightText: Copyright (c) 2026 Navimatix GmbH
# SPDX-FileCopyrightText: Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM_MPU=y
CONFIG_RUNTIME_NMI=y
CONFIG_GPIO=y
CONFIG_GPIO_HOGS=y
