# SPDX-FileCopyrightText: Copyright (c) 2024 Navimatix GmbH
# SPDX-License-Identifier: Apache-2.0

config DRV8424_ACCEL
	bool "TI DRV8424 stepper motor driver with acceleration"
	default y
	depends on DT_HAS_TI_DRV8424_ACCEL_ENABLED
	select COUNTER
	help
	  Enable driver for TI DRV8424 stepper motor driver with acceleration.

if DRV8424_ACCEL

config HEAP_MEM_POOL_ADD_SIZE_DRV8424_ACCEL
	int
	default 128 # Enough for 5 pending events

endif # DRV8424
