/*
 * SPDX-FileCopyrightText: Copyright (c) 2024 Navimatix GmbH
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	motor_1: motor_1 {
		compatible = "zephyr,gpio-steppers";
		status = "okay";
		motor_2: motor_2 {
			micro-step-res = <1>;
			gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>,
				<&gpio0 13 GPIO_ACTIVE_HIGH>,
				<&gpio0 14 GPIO_ACTIVE_HIGH>,
				<&gpio0 15 GPIO_ACTIVE_HIGH>;
		};
	};
};
